---
title: Developer Connect (Alpha)
owner: DevConnect
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
<%= vars.product_full %> is currently in alpha and is intended for evaluation and test purposes only.
Do not use this product in a production environment.
</p>

This documentation describes <%= vars.product_full %>.
<%= vars.product_short %> enables operators to provide developers access to orgs and spaces across the multiple foundations in an enterprise.

<!-- **Note**: The above description should appear under **OVERVIEW** in the tile's listing on
[Pivotal Network](http://network.pivotal.io). -->

## <a id='overview'></a>Overview

<%# **The overview describes the service that your product offers to Pivotal Platform developers.
Make sure to overview the features of the integration.
Don't focus only on the overview of your product that is being integrated.
See below for an example.** 

```
EXAMPLE OVERVIEW: 

The Apigee Edge Service Broker for Pivotal Platform registers a service broker with Pivotal Platform
and exposes its service plans on the Marketplace.
Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps.

Creating an Apigee Edge for Pivotal Platform service instance and binding it to an app creates an
Apigee Edge API proxy that handles requests for the app.
This lets developers use the Apigee Edge management console to manage API request handling between
clients and the app.
```
%>

<!-- **Note**: This overview should appear under **OVERVIEW**, combined with the prior description above in the tile's listing on
[Pivotal Network](http://network.pivotal.io). -->

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v-alpha</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>MMMM DD 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>YOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager %> version(s)</td>
        <td>YOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. 2.5, 2.6, and 2.7)</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %> version(s)</td>
        <td>YOUR-COMPATIBLE-PIVOTAL-APPLICATION-SERVICE-VERSION (Ex. 2.5, 2.6, and 2.7)</td>
    </tr>
        <tr>
        <td>Compatible <%= vars.app_runtime_full %> for Windows version(s)</td>
        <td>YOUR-COMPATIBLE-PIVOTAL-APPLICATION-SERVICE-VERSION (Ex. 2.5, 2.6, and 2.7)</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS?, Azure?, GCP?, OpenStack?, and vSphere?</td>
    </tr>
</table>

## <a id='features'></a>Key Features


<%= vars.product_full %> includes the following key features:

+ Allows platform engineers to define provisioning standards and
constraints to keep provisioned environments consistent.

+ Provides a tutorial that shows developers how to create
a project and self-provision development environments.

+ Allows developers to self-provision environments and associate multiple
environments to a project across multiple regions.

+ Provides details about how to deploy code to each environment.

+ Integrates with `cf-mgmt` to create and modify Cloud Foundry orgs, spaces, and quotas.


## <a id="reqs"></a>Requirements
<%#
**Provide any general or specific requirements, prerequisites, or dependencies here.
A general requirement might be something like, "An AppDynamics account."
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."** %>

<%= vars.product_full %> has the following requirements:

+ One or more `cf-mgmt` managed foundations. For more information about `cf-mgmt`, see [cf-mgmt](#cf-mgmt) below.
+ VMware recommends that you back all foundations by the same SAML or LDAP provider.

## <a id="limitations"></a>Limitations

<%# **List any known limitations.** %>

<%= vars.product_full %> has the following limitations:

+ You cannot have multiple developers within a project.
The feature is currently unsupported.

+ You cannot retrieve details and credentials to deploy
code with a CI/CD pipeline.

+ You cannot modify or delete existing environments or
projects without a manual platform operator intervention.

## <a id="terms"></a><%= vars.product_short %> Terminology

<%= vars.product_short %> uses the following terms:

+ **Foundation:** This is an installation of <%= vars.app_runtime_abbr %>.
    A single foundation is located in a single region.
    Configuring multiple foundations enables high availability across different regions.
    <br><br>
    You can configure foundations for different levels of production.
    For example, you might configure a foundation for a sandbox, development, staging, or production level.
    The levels of production correspond to environments.

+ **Project:** This is a collection of environments across one or more foundations.
    This organizational structure enables you to view all the regions where you can deploy your apps.<br><br>
    For example, you can have a project with the following environments:

    * Two production environments, one in `us-west` and another in `us-east` for high availability
    * One staging environment in `us-west`
    * One development environment in `us-west`

+ **Environment:** This is where developers can deploy apps.
    Operators can define a label for the environment, such as `production` or `development`,
    and assign permissions to the environment.

+ **Dashboard:** The <%= vars.product_short %> dashboard displays the projects and the corresponding environments that
    operators have created.

## <a id="cf-mgmt"></a> cf-mgmt

`cf-mgmt` is automation tooling for declaratively configuring orgs, spaces, and users on a
<%= vars.app_runtime_abbr %> instance. For more information, see [cf-mgmt README](https://github.com/vmwarepivotallabs/cf-mgmt#cloud-foundry-management-cf-mgmt).

<%= vars.product_short %> uses `cf-mgmt` as the source of truth for the topology of a
<%= vars.app_runtime_abbr %> instance. By configuring <%= vars.product_short %> to consume multiple
`cf-mgmt` configuration repositories it is able to provision environments across multiple
<%= vars.app_runtime_abbr %> instances.

## <a id="support"></a>Support

For <%= vars.product_full %> or `cf-mgmt` support, send an email to the
[<%= vars.product_short %> team](mailto:devconnect@vmware.com).

## <a id="feedback"></a>Feedback

Please provide any issues, feature requests, or questions to the
[<%= vars.platform_name %> Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

<%#
## <a id='license'></a>License

**List any license information here.**
%>
