---
title: Installing Developer Connect on BOSH as a Release
owner: DevConnect
---

<strong><%= modified_date %></strong>

This topic describes how to install <%= vars.product_full %> on your <%= vars.bosh_runtime %> as a
BOSH Release.


## <a id="Overview"></a> Overview

To install <%= vars.product_short %> on your <%= vars.bosh_runtime %> you must configure a BOSH
manifest and variable file for <%= vars.product_short %>.
After you configure the files, you must upload and deploy the <%= vars.product_short %> BOSH Release
to your <%= vars.bosh_runtime %>.

To install <%= vars.product_short %> on your <%= vars.bosh_runtime %>:

1. [Create the Deployment Manifest](#manifest)
1. [Create a Variables Configuration File](#variables)
1. [Upload and Deploy the <%= vars.product_short %> BOSH Release](#deploy)

## <a id="prereq"></a> Prerequisites

Before you install <%= vars.product_short %>, you must have:

- Followed the procedures in [Preparing <%= vars.product_full %> for Deployment](./preparing.html).
- A <%= vars.bosh_runtime %> deployed.
- Access to the <%= vars.product_full %> product on
[<%= vars.product_network %>](https://network.pivotal.io/products/developer-connect/).


## <a id="manifest"></a> Create the Deployment Manifest

The <%= vars.product_full %> team maintains a sample manifest that you can use as a starting point.

To generate the sample manifest:

1. Download [YTT](https://get-ytt.io/).

1. Clone the
[<%= vars.product_short %> Documentation Repository](https://github.com/pivotal-cf/docs-devconnect)
from GitHub.

1. Run `ytt` on the `manifest` directory:

    ```
    ytt -f devconnect-deployment/manifest/ > MANIFEST-FILE
    ```


### <a id="installing-devconnect-without-tas"></a> Register an Identity Provider with the <%= vars.product_short %> UAA

<%= vars.product_short %> uses the User Account and Authentication (UAA) release.
For more information, see
[uaa Release](https://bosh.io/releases/github.com/cloudfoundry/uaa-release?all=1) in the BOSH documentation.

To configure the UAA with an identity provider (IdP):

1. Follow the steps in
[uaa](https://github.com/cloudfoundry/uaa-release/blob/develop/docs/uaa.md) in GitHub.
You need to modify the UAA Release configuration in the manifest file you generated in the
[Create the Deployment Manifest](#manifest) procedure above.


### <a id="installing-devconnect-without-tas"></a> Installing <%= vars.product_short %> without <%= vars.app_runtime_abbr %>

The sample manifest assumes the <%= vars.bosh_runtime %> you are deploying <%= vars.product_short %>
in has <%= vars.app_runtime_abbr %> installed, but this is not necessary.
To complete the installation without <%= vars.app_runtime_abbr %>:

<!-- TODO: write instructions on how to configure a separate routing release. -->

#### <a id="variables"></a> Create a Variables Configuration File

To create a variables configuration file:

1. Copy the sample manifest file by running:

    ```
    cp devconnect-deployment/manifest/sample-variables.yml VARIABLES-FILE
    ```

1. Replace the variable values in the manifest with your own.
Use the table and samples below as guides for your own configuration:

<table>
  <tr>
    <th width="35%">Placeholder</th>
    <th>Value</th>
    <th>Example</th>
  </tr>

<%

found_in_cloud_config = "can be found in the cloud config of the #{vars.bosh_runtime}."
manifest_variables = [
 ["<code>devconnect-auth-client-id</code>", "A UAA authentication client with ID <code>devconnect-auth-client-id</code> is automatically created. #{vars.product_short} uses this client to authenticate users with its UAA.", ""],
 ["<code>devconnect-auth-client-secret</code>", "A UAA authentication client with secret <code>devconnect-auth-client-secret</code> is automatically created. #{vars.product_short} uses this client to authenticate users with its UAA.",""],
 ["<code>devconnect-auth-base-url</code>", "The URL of the authentication server. It should be a subdomain of your foundation app domain, such as <code>DEVCONNECT-AUTH-SUBDOMAIN.apps.FOUNDATION-FQDN</code>. This enables the deployment to properly register the route with the routing release.","<code>https://devconnect-uaa.apps.redlands.cf-app.com</code>"],
 ["<code>devconnect-session-secret</code>", "Arbitrary string used to encrypt session cookies.",""],
 ["<code>devconnect-server-domain</code>", "The #{vars.product_short} server domain.","<code>devconnect.{{foundation-apps-domain}}</code>"],
 ["(Optional) <code>devconnect-server-route-port</code>", "The #{vars.product_short} server route port. This is the port for the external application route as found in Cloud Foundry Gorouter. It defaults to <code>443</code>.", ""],
 ["(Optional) <code>devconnect-server-app-port</code>", "The #{vars.product_short} server application port. This is the application port on the Diego Cell. It defaults to <code>8888</code>.", ""],
 ["(Optional) <code>devconnect-server-scheme</code>", "The #{vars.product_short} server scheme, either http or https. It defaults to <code>https</code>.", ""],
 ["<code>devconnect-entitlements-org-name-template</code>", "The template that describes the name generation for orgs.", ""],
 ["<code>devconnect-entitlements-space-name-template</code>", "The template that describes the name generation for spaces.", ""],
 ["<code>devconnect-entitlements-cf-mgmt-repos-dir</code>", "The location into which #{vars.product_short} clones <code>cf-mgmt</code> configuration repositories.", ""],
 ["<code>devconnect-entitlements-custom-template-variables</code>", "The list of custom variables used to construct project names.", "<a href='#sample-custom-template-variables'>See example below</a>"],
 ["<code>devconnect-entitlements-foundations</code>", "The list of Cloud Foundry foundations #{vars.product_short} communicates with.", "<a href='#sample-foundations'>See example below</a>"],
 ["<code>uaa-admin-client-secret</code>", "The admin client secret for the deployed UAA.",""],
 ["<code>uaa-vm-type</code>", "The VM size for the deployed UAA. VM sizes #{found_in_cloud_config}",""],
 ["<code>postgres-vm-type</code>", "The VM size of the deployed Postgres database for #{vars.product_short}. VM sizes #{found_in_cloud_config}",""],
 ["<code>devconnect-vm-type</code>", "The VM size of the deployed #{vars.product_short} server. VM sizes #{found_in_cloud_config}",""],
 ["<code>postgres-disk-type</code>", "The persistent disk for the deployed Postgres database for #{vars.product_short}. Disk sizes #{found_in_cloud_config}",""],
 ["<code>uaa-disk-type</code>", "The persistent disk for the deployed UAA. It brings in its own Postgres database. Disk sizes #{found_in_cloud_config}",""],
 ["<code>devconnect-vm-extension</code>", "The <a href='https://bosh.io/docs/terminology/#vm-extension'>VM extension</a> that enables #{vars.product_short} to make outbound calls. VM extensions are in the cloud config.", "<a href='#sample-vm-extension'>See example below</a>"],
 ["<code>network</code>", "The network used for the BOSH deployment. Networks #{found_in_cloud_config}",""],
 ["<code>az</code>", "The availability zone used for the BOSH deployment. Availability zones #{found_in_cloud_config}",""],
 ["<code>cf-deployment</code>", "The name of the Cloud Foundry BOSH deployment.",""],
 ["<code>foundation-apps-domain</code>", "The subdomain of the #{vars.product_short} BOSH release's foundation app. UAA and #{vars.product_short} endpoints are accessible here.", "<code>apps.redlands.cf-app.com</code>"],
 ["(Optional) <code>devconnect_server_tls_cert</code>", "The TLS certificate if you are setting up TLS for #{vars.product_short}. It requires a user to add the root CA certificate to CredHub.",""],
 ["(Optional) <code>devconnect_server_tls_private_key</code>", "The TLS private key if you are setting up TLS for #{vars.product_short}. It requires a user to add the root CA certificate to CredHub.",""],
]

manifest_variables.each do | manifest_variable | %>
  <tr>
    <td><%= manifest_variable[0] %></td>
    <td><%= manifest_variable[1] %></td>
    <td><%= manifest_variable[2] %></td>
  </tr>
<% end %>
</table>


### <a id="sample-custom-template-variables"></a> Sample Custom Template Variables

```
[
  {
    "variableName": "CostCenter",
    "displayName": "Cost Center",
    "displayText": "$$$ Please enter your cost center $$$",
    "characterLimit": 10
  }
]
```


### <a id="sample-foundations"></a> Sample Foundations

```
[
  {
    "admin": {
      "clientId": "devconnect_admin_larkspur",
      "clientSecret": "CLIENT-SECRET",
    },
    "apiUrl": "https://api.sys.larkspur.cf-app.com/",
    "environments": [
      {
        "name": "dev",
        "orgRole": "auditors",
        "spaceRole": "developers"
      }
    ],
    "name": "Larkspur",
    "oauth": {
      "authenticationType": "saml",
      "authorizeUrl": "https://login.sys.larkspur.cf-app.com/oauth/authorize",
      "clientId": "devconnect_authcode_larkspur",
      "clientSecret": "CLIENT-SECRET"
      "issuerUrl": "https://uaa.sys.larkspur.cf-app.com/oauth/token",
      "jwksUrl": "https://login.sys.larkspur.cf-app.com/token_keys",
      "skipSslValidation": true,
      "tokenUrl": "https://login.sys.larkspur.cf-app.com/oauth/token"
    },
    "region": "us-east-1",
    "tutorialEnvironment": {
      "name": "sandbox",
      "orgRole": "auditors",
      "quotaName": "sandbox",
      "spaceRole": "developers"
    },
    "uuid": "572ec69b-d5a2-4ee1-9008-d1e0bd1bb6be"
  }
]
```


### <a id="sample-vm-extension"></a> Sample VM Extension

```
- cloud_properties:
    ephemeral_external_ip: true
    tags:
      - pcf-redlands
  name: vm-extension-devconnect
```


## <a id="deploy"></a> Upload and Deploy the <%= vars.product_short %> BOSH Release

To upload and deploy the <%= vars.product_short %> BOSH release:

1. Run:

    ```
    bosh deploy -d DEPLOYMENT-NAME -l VARIABLES-FILE MANIFEST-FILE
    ```
